* {
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
}

::placeholder {
    font-family: Roboto;
}

.second-body {
    background-color: #003462;
    min-height: 18px;
}

.header-padre{
    display:none;
}

footer{
    display:none;
}

.container {
    background-color: white;
    width: 1029px;
    min-height: 790px;
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 60px 60px 60px 60px;
}

main {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.img-side > img {
    margin-left: 70px;
    margin-top: 90px;
    height: 520px;
}

section {
    width: 50%;
    height: 580px;
}

.form-container {
    margin-top: 40px;
}

    .form-container > header {
        display: flex;
        align-items: center;
    }

        .form-container > header > div > h1 {
            font-size: 40px;
            font-family: Verdana;
            color: #443C3C;
            letter-spacing: 2px;
        }


        .form-container > header > div > p {
            font-family: Roboto;
            color: gray;
            margin-top: 6px;
        }

        .form-container > header > div:last-child > img {
            margin-left: 38px;
        }

        .form-container > header > div:last-child > img {
            height: 85px;
        }

    .form-container > form {
        margin-top: 27px;
    }

.form-text-piece {
    margin-top: 18px;
}

.form-container > form > div > div {
    display: flex;    
    align-items:center;
}

label {
    font-weight: bold;
    color: #332E2E;
}

.sugerencia {
    color: gray;
}

.text-danger{
    color:red;
    font-weight:bold;
    font-size:10px;
}

input[type='text'], input[type='password'] {
    width: 380px;
    height: 30px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid #67A5E2;
    color: #9A4003;
}

    input[type='text']:focus, input[type='password']:focus {
        border-color: aqua;
    }

#registrarse-btn {
    width: 280px;
    height: 48px;
    margin-top: 30px;
    margin-left: 55px;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: #1976D3;
    border-radius: 88px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 1s;
}

    #registrarse-btn:hover {
        width: 295px;
    }

#registrarse-link {
    width: 210px;
    height: 48px;
    color: white;
    font-weight: bolder;
    border: none;
    background-color: orange;
    margin-top: 10px;
    margin-left: 95px;
    border-radius: 88px;
    padding-top: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 1s;
}

    #registrarse-link:hover {
        width: 225px;
    }
