<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MVC_Proyect</title>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">

   <title>Bolsa de Empleo</title>

</head>
<body>
    <header class="header-padre">
        <nav>
            <ul>
                <div class="nav-header">
                    
                    <li>
                        <a asp-controller="Job" asp-action="ScreenPrincipalView">
                        <img src="~/img/logo.svg" alt="Logo" width="40">
                        </a>
                    </li>
                    <li>&nbsp Proyecto Web</li>
                  
                 </div>

                <div class="nav-body">
                    <li>
                        <a asp-controller="Job" asp-action="SearchJob">Buscar Empleo <img src="~/img/search.svg" alt="Search" width="20px"> </a>
                    </li>
                    <li>
                        <a> Ver Categorias <img src="~/img/Category.svg" alt="Category" width="20px"> </a>
                    </li>
                </div>
                <div class="nav-end">
                    <li class="">
                       <a asp-controller="Acceso" asp-action="Register" class="nav-botton-post"> Postear un empleo</a>
                    </li>
                    <li>
                        <a asp-controller="Acceso" asp-action="Login" class="nav-botton-login">Ingresar</a>
                    </li>

                </div>
            </ul>
        </nav>
    </header>
            @RenderBody()
 <footer>
        <p>Made with &#10084;&#65039; for you by Grupo #3</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
