@model MVC_Proyect.Models.Offer_Job


@{
    ViewData["Title"] = "Form";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Form_Job_Post_Style.css">
</head>

<body>

    <div class="main-container">

        <header class="header-form">
            <h1>Publicar oferta de trabajo</h1>

            <img src="https://media.istockphoto.com/vectors/working-conditions-rgb-color-icon-vector-id1273321472?k=6&m=1273321472&s=170667a&w=0&h=H7bRVD3j0LlZ5Tgm1fj_5c-EeJY49bqYFwq2vRsgQaQ="
                 alt="hombrecito">
        </header>

        <main>
            <section class="section-formulario">

               @using (Html.BeginForm("Acceso", "PostJob", FormMethod.Post))
                {
                    <div class="form-header">

                        <select name="">
                            <option value="">Categoria</option>
                        </select>

                        <div>
                            <h2>Tipo</h2>

                            <ul class="lista-tipo">
                                <li>
                                    <input type="radio" id="male" name="gender" value="male" class="radio-buttons">
                                    <label for="male">Full-time</label>
                                </li>

                                <li>
                                    <input type="radio" id="male" name="gender" value="male" class="radio-buttons">
                                    <label for="male">Part-time</label>
                                </li>

                                <li>
                                    <input type="radio" id="male" name="gender" value="male" class="radio-buttons">
                                    <label for="male">Freelance</label>
                                </li>
                            </ul>
                            <img src="https://image.flaticon.com/icons/png/512/1717/1717782.png" alt="icon-reloj">
                        </div>

                    </div>

                    <div class="form-body">

                        <div class="form-first-column">

                            <div class="form-piece-text">
                                <label class="form-label-first-column">Compañia <span class="obligatorio">*</span></label>
                                <div>
                                    @*@Html.TextBoxFor(j => j.c, null, new { @class = "form-control", placeholder = "APELLIDO", @Id = "lastnameUpdate" })*@
                                    <input type="text" id="name" name="name" placeholder="Compañia" autocomplete="off">   &nbsp;&nbsp;
                                    <img src="https://image.flaticon.com/icons/png/512/1962/1962551.png" alt="icon-company">
                                </div>
                            </div>

                            <div class="form-piece-text">
                                <label class="form-label-first-column">Posicion <span class="obligatorio">*</span></label>
                                <div>
                                    <input type="text" id="name" name="name" placeholder="Posicion" autocomplete="off">   &nbsp;&nbsp;
                                    <img src="https://image.flaticon.com/icons/png/512/535/535335.png" alt="icon-rol">
                                </div>
                            </div>

                            <div class="form-piece-text">
                                <label class="form-label-first-column">Descripcion <span class="obligatorio">*</span></label>
                                <div>
                                    <textarea class="form-textarea" placeholder="Descripcion" autocomplete="off"></textarea>   &nbsp;&nbsp;
                                    <img src="https://image.flaticon.com/icons/png/512/124/124043.png" alt="icon-pencil">
                                </div>
                            </div> <br>

                            <div class="form-piece-text">
                                <label class="form-label-first-column">Requisitos <span class="obligatorio">*</span></label>
                                <div>
                                    <textarea class="form-textarea" placeholder="Requisitos" autocomplete="off"></textarea>   &nbsp;&nbsp;
                                    <img src="https://image.flaticon.com/icons/png/128/4059/4059838.png" alt="icon-required">
                                </div>
                            </div>

                        </div>

                        <div class="form-second-column">

                            <div class="form-piece-text">
                                <label>Logotipo empresarial </label>
                                <div>
                                    <input type="file" name="logo" accept="image/png, image/jpeg" title="seleccionar png/jpeg"> &nbsp;&nbsp;&nbsp;
                                    <img src="https://image.flaticon.com/icons/png/128/2345/2345409.png" alt="icon-company">
                                </div>
                            </div> <br>

                            <div class="form-piece-text">
                                <label class="form-label-second-column">Ubicacion / Direccion <span class="obligatorio">*</span></label>
                                <div>
                                    <input type="text" id="name" name="name" placeholder="Ubicacion" autocomplete="off">   &nbsp;&nbsp;
                                    <img src="https://image.flaticon.com/icons/png/512/1246/1246467.png" alt="icon-location">
                                </div>
                            </div>

                            <div class="form-piece-text">
                                <label class="form-label-second-column">Sitio web Empresa</label>
                                <div>
                                    <input type="text" id="name" name="name" placeholder="URL" autocomplete="off">   &nbsp;&nbsp;
                                    <img src="https://image.flaticon.com/icons/png/512/1674/1674664.png" alt="icon-web">
                                </div>
                            </div>

                            <div class="form-piece-text">
                                <label class="form-label-second-column">Correo electronico <span class="obligatorio">*</span></label>
                                <div>
                                    <input type="text" id="name" name="name" placeholder="Correo" autocomplete="off">   &nbsp;&nbsp;
                                    <img src="https://i.pinimg.com/originals/80/09/29/800929944b228b1569c308b81e810b60.png" alt="icon-email">
                                </div>
                            </div>

                            <div class="form-footer">
                                <button type="button" id="confirmar">Publicar</button>
                                <button type="button" id="cancelar">Cancelar</button>
                            </div>

                        </div>
                    </div>

                }

            </section>
        </main>

    </div>

</body>