@model Usuario1

@{
    ViewData["Title"] = "Autenticacion";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Estilos_login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body class="second-body">

    <div class="animate__animated animate__zoomInLeft" id="container">

        <main>

            <section class="img-side">
            </section>

            <section class="form-side">

                <div class="form-container">

                    <header>
                        <div>
                            <img src="~/img/burbujita.png" alt="burbuja comentario">
                        </div>
                        <img src="https://geniosconsulting.com.mx/img/equipo/7.png" alt="usuario">
                        <h1>WELCOME</h1>
                    </header>

                    @using (Html.BeginForm("TryLogin", "Acceso", FormMethod.Post))
                    {
                        <div>
                            @Html.TextBoxFor(u => u.Username, null, new { Placeholder = "Username", Autocomplete = "off" }) &nbsp;&nbsp;
                        </div>

                        <div>
                            @Html.TextBoxFor(u => u.Contraseña, null, new { Placeholder = "Password", Type = "Password" }) &nbsp;&nbsp;
                        </div>

                        <button type="submit" name="" class="login-button">Iniciar</button>
                    }

                    <a href='@Url.Action("Register", "Acceso")'>
                    <button id="registrarse-link">Registrarse</button>
                    </a>
                </div>

            </section>

        </main>

    </div>

</body>


