
@{
    ViewData["Title"] = "Autenticacion";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Estilos_login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body class="second-body">

    <div class="animate__animated animate__zoomInLeft" id="container">

        <main>

            <section class="img-side">
            </section>

            <section class="form-side">

                <div class="form-container">

                    <header>
                        <div>
                            <img src="~/img/burbujita.png" alt="burbuja comentario">
                        </div>
                        <img src="https://geniosconsulting.com.mx/img/equipo/7.png" alt="usuario">
                        <h1>WELCOME</h1>
                    </header>

                    <form action="">

                        <div>
                            <input type="text" name="usuario" placeholder="Username" autocomplete="off">
                        </div>

                        <div>
                            <input type="password" name="clave" placeholder="Password">
                        </div>

                        <div>
                            <input type="button" name="" value="INICIAR">
                        </div>
                    </form>
                    <a href="#">
                        <button id="registrarse-link">REGISTRARSE</button>
                    </a>
                </div>

            </section>

        </main>

    </div>

</body>


