
@{
    ViewData["Title"] = "Register";
}

<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="~/css/Register_login.css">
</head>
<body class="second-body">

    <div class="container">

        <main>

            <section class="img-side">
                <img src="~/img/munequita.jpg">
            </section>

            <section class="form-side">

                <div class="form-container">

                    <header>
                        <div>
                            <h1>Regístrate</h1>
                            <p>Hazlo para ofrecer ofertas y <br /> nuevas oportunidades de empleo</p>
                        </div>

                        <div>
                            <img src="https://image.flaticon.com/icons/png/128/3534/3534139.png">
                        </div>
                    </header>

                    <form action="">

                        <div class="form-text-piece">
                            <label>Nombre</label>
                            <input type="text" name="nombre" autocomplete="off">
                        </div>

                        <div class="form-text-piece">
                            <label>Apellido</label>
                            <input type="text" name="apellido" autocomplete="off">
                        </div>

                        <div class="form-text-piece">
                            <label>Email personal</label>
                            <input type="text" name="email_personal" autocomplete="off">
                        </div>

                        <div class="form-text-piece">
                            <label>Email de empresa</label>
                            <input type="text" name="email_empresa" autocomplete="off">
                        </div>

                        <div class="form-text-piece">
                            <label>URL empresa <span class="sugerencia">&nbsp;&nbsp;&nbsp;(opcional)</span></label>
                            <input type="text" name="url_empresa" autocomplete="off">
                        </div>

                        <div class="form-text-piece">
                            <label>Telefono</label>
                            <input type="text" name="telefono" autocomplete="off">
                        </div>

                        <div class="form-text-piece">
                            <label>Nombre de Usuario <span class="sugerencia">&nbsp;&nbsp;&nbsp;(recordar)</label>
                            <input type="text" name="username" autocomplete="off">
                        </div>

                        <div class="form-text-piece">
                            <label>Contraseña <span class="sugerencia">&nbsp;&nbsp;&nbsp;(recordar)</label>
                            <input type="password" name="clave">
                        </div>

                        <div>
                            <input type="button" name="" value="Listo">
                        </div>
                    </form>
                </div>

            </section>

        </main>

    </div>

</body>
