
@{
    ViewData["Title"] = "CategoryView";
}

<link rel="stylesheet" href="~/css/CategoryView.css" />
<main>
    <div class="container1">
        <div class="titulo-categoria">
            <h1>
                <b>Busca tu trabajo</b>
            </h1>

        </div>
    </div>
    <div class="container1-1">
        <div class="vacantes">
            <h4>
                <b>Vacantes encontradas</b>
            </h4>

        </div>
    </div>
    <div class="container2">
        <div class="descripcion-puesto">
            <h4>Nombre del puesto</h4>
            <div class="desc">
                <div class="subdiv"><strong>Categoría</strong></div>
                <div class="subdiv"><strong>Ubicación</strong></div>
                <div class="subdiv"><strong>Fecha de publicación</strong></div>
            </div>
            <div placeholder="Descripción" class="descripcion">
                <span>Breve descripción</span>
            </div>
            <div class="see-more">
                <button>Ver más</button>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="descripcion-puesto">
            <h4>Nombre del puesto</h4>
            <div class="desc">
                <div class="subdiv"><strong>Categoría</strong></div>
                <div class="subdiv"><strong>Ubicación</strong></div>
                <div class="subdiv"><strong>Fecha de publicación</strong></div>
            </div>
            <div placeholder="Descripción" class="descripcion">
                <span>Breve descripción</span>
            </div>
            <div class="see-more">
                <button>Ver más</button>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="descripcion-puesto">
            <h4>Nombre del puesto</h4>
            <div class="desc">
                <div class="subdiv"><strong>Categoría</strong></div>
                <div class="subdiv"><strong>Ubicación</strong></div>
                <div class="subdiv"><strong>Fecha de publicación</strong></div>
            </div>
            <div placeholder="Descripción" class="descripcion">
                <span>Breve descripción</span>
            </div>
            <div class="see-more">
                <button>Ver más</button>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="pagination">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>...</button>
            <button>50</button>
            <button>Siguiente</button>
        </div>
    </div>
</main>