
@{
    ViewData["Title"] = "CategoryJob";
}

<link rel="stylesheet" href="~/css/JobView.css" />
<main>
    <div class="container1">
        <div class="titulo-categoria">
            <h1>
                <b>Categoria: Nombre de la Categoría</b>
            </h1>

        </div>
    </div>
    <div class="container2">
        <div class="descripcion-puesto">
            <h4>Nombre del puesto</h4>
            <div class="desc">
                <div class="subdiv"><strong>Categoría</strong></div>
                <div class="subdiv"><strong>Ubicación</strong></div>
                <div class="subdiv"><strong>Fecha de publicación</strong></div>
                <div class="subdiv" style="text-align:center;"><button>Aplicar</button></div>
            </div>
            <div placeholder="Descripción" class="descripcion">
                
            </div>
            <p>Correo de contacto</p>
        </div>
    </div>
    <div class="container3">
        <div class="related-jobs">
            <h4>Puestos relacionados</h4>
            <div class="gral-rel-job">
                <div class="rel-job">
                    <p>Nombre del puesto</p>
                    <div class="details">
                        <div>Categoría</div>
                        <div>Ubicación</div>
                    </div>
                    <div class="rel-job-desc">
                        <span>Breve descripción</span>
                    </div>
                    <div class="see-more">
                        <button>Ver más</button>
                    </div>
                </div>
                <div class="rel-job">
                    <p>Nombre del puesto</p>
                    <div class="details">
                        <div>Categoría</div>
                        <div>Ubicación</div>
                    </div>
                    <div class="rel-job-desc">
                        <span>Breve descripción</span>
                    </div>
                    <div class="see-more">
                        <button>Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>