@model MVC_Proyect.Models.Offer_Job

@{
    ViewData["Title"] = "Home - Bolsa de Empleo";
    var empleos = ViewData["Jobs"] as List<Offer_Job>;
    var Ciudades = ViewData["Ciudades"] as List<string>;
}

<link rel="stylesheet" href="~/css/CSStyles.css" />
<main>
    <section class="landing">
        <h1>
            <b>Encuentra el empleo</b>
            <br> &nbsp&nbspque siempres has estado <br>
            <span class="landing-buscando"> Buscando </span>
        </h1>

        <img src="img/landing.svg" alt="landing" width="400px">
    </section>

    <section class="search-job">
        <form asp-action="SearchJob" asp-controller="Job" method="POST">
            <input type="text" name="Posicion" id="" placeholder="Nombre del Empleo">

            <select name="Ciudad" id="">
                <option value="0">Ubicacion del Empleo </option>
                @foreach (var x in Ciudades)
                    {
                    <option value="@x">@x </option>
                    }

                <input type="submit" value="Buscar empleo" class="btn-search">
        </form>
    </section>

    <section class="recent-job">
        <h2 class="recent-job-title">Ofertas de empleos recientes:</h2>
        <div class="container">
            <div class="job-list">
                @foreach (var Job in empleos)
                {
                    <div class="job">
                        <div class="job-header">


                            <img src="~/img/defaultwork.svg" alt="" width="86px" class="job-logo">

                            <div>
                                <br>
                                <h2>@Job.Posicion</h2>
                                <br> <br>

                                <img src="img/place.svg" alt="" width="18px">
                                <p>&nbsp;@Job.Ciudad&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                <img src="img/dollar.svg" alt="" width="18px">
                                <p>A discutir&nbsp;&nbsp;&nbsp;&nbsp;</p>

                            </div>
                        </div>

                        <div class="job-body">
                            <p>@Job.Descripcion</p>
                        </div>

                        <a href="" class="job-end">Ver mas</a>

                    </div>
                }


            </div>
        </div>

        <a asp-controller="Job" asp-action="SearchJob" class="btn-job-more">Ver mas ofertas de empleos</a>
    </section>
</main>