@{
    ViewData["Title"] = "Home - Bolsa de Empleo";
}

<link rel="stylesheet" href="~/css/CSStyles.css" />
<main>
    <section class="landing">
        <h1>
            <b>Encuentra el empleo</b>
            <br> &nbsp&nbspque siempres has estado <br>
            <span class="landing-buscando">   Buscando </span>
        </h1>

        <img src="img/landing.svg" alt="landing" width="400px">
    </section>

    <section class="search-job">
        <form action="">
            <input type="text" name="" id="" placeholder="Nombre del Empleo">

            <select name="" id="">
                <option value="">Ubicacion del Empleo </option>

                <input type="submit" value="Buscar empleo" class="btn-search">
        </form>
    </section>

    <section class="recent-job">
        <h2 class="recent-job-title">Ofertas de empleos recientes:</h2>
        <div class="container">
            <div class="job-list">
                <div class="job">
                    <div class="job-header">
                        <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                        <div>
                            <br>
                            <h2>Programador Web Experto en Angular</h2>
                            <br> <br>
                            <img src="img/place.svg" alt="" width="18px"><p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <img src="img/dollar.svg" alt="" width="18px"> <p>60,000</p>
                        </div>
                    </div>

                    <div class="job-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laborum, amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                    </div>

                    <a href="" class="job-end">Aplicar</a>

                </div>
                <!--Solo de ejemplo, borrar cuando haya datos reales-->
                <div class="job">
                    <div class="job-header">
                        <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                        <div>
                            <br>
                            <h2>Programador Web Experto en Angular</h2>
                            <br> <br>
                            <img src="img/place.svg" alt="" width="18px"><p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <img src="img/dollar.svg" alt="" width="18px"> <p>60,000</p>
                        </div>
                    </div>

                    <div class="job-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laborum, amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                    </div>

                    <a href="" class="job-end">Aplicar</a>

                </div>
                <div class="job">
                    <div class="job-header">
                        <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                        <div>
                            <br>
                            <h2>Programador Web Experto en Angular</h2>
                            <br> <br>
                            <img src="img/place.svg" alt="" width="18px"><p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <img src="img/dollar.svg" alt="" width="18px"> <p>60,000</p>
                        </div>
                    </div>

                    <div class="job-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laborum, amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                    </div>

                    <a href="" class="job-end">Aplicar</a>

                </div>
                <div class="job">
                    <div class="job-header">
                        <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                        <div>
                            <br>
                            <h2>Programador Web Experto en Angular</h2>
                            <br> <br>
                            <img src="img/place.svg" alt="" width="18px"><p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <img src="img/dollar.svg" alt="" width="18px"> <p>60,000</p>
                        </div>
                    </div>

                    <div class="job-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laborum, amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                    </div>

                    <a href="" class="job-end">Aplicar</a>

                </div>
                <div class="job">
                    <div class="job-header">
                        <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                        <div>
                            <br>
                            <h2>Programador Web Experto en Angular</h2>
                            <br> <br>
                            <img src="img/place.svg" alt="" width="18px"><p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <img src="img/dollar.svg" alt="" width="18px"> <p>60,000</p>
                        </div>
                    </div>

                    <div class="job-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laborum, amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                    </div>

                    <a href="" class="job-end">Aplicar</a>

                </div>
                <div class="job">
                    <div class="job-header">
                        <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                        <div>
                            <br>
                            <h2>Programador Web Experto en Angular</h2>
                            <br> <br>
                            <img src="img/place.svg" alt="" width="18px"><p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <img src="img/dollar.svg" alt="" width="18px"> <p>60,000</p>
                        </div>
                    </div>

                    <div class="job-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laborum, amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                    </div>

                    <a href="" class="job-end">Aplicar</a>

                </div>
                <!--Hasta aca-->
            </div>
        </div>

        <a href="" class="btn-job-more">Ver mas ofertas de empleos</a>
    </section>
</main>