@{
    ViewData["Title"] = "SearchJob";
}

<link rel="stylesheet" href="~/css/CSStyles2.css" />

<main>
        <section class="landing">
            <h1>Encuentra el trabajo Ideal</h1>
            <img src="~/img/landing.svg" alt="" width="200px">
        </section>

        <form action="">
            <section class="job-searcher">
                <div class="job-filter">
                    <img src="~/img/search.svg" alt="" width="40px">
                    <input type="text" name="" id="" value="Nombre del Trabajo">
                </div>

                <div class="job-filter">
                    <img src="~/img/search.svg" alt="" width="40px">
                    <select name="" id="">
                        <option value="">Ubicacion del Trabajo</option>
                    </select>

                </div>
                <div class="job-filter">
                    <img src="~/img/search.svg" alt="" width="40px">
                    <select name="" id="">
                        <option value="">Categoria del Trabajo</option>
                    </select>
                </div>
                <div class="btn">
                    <input type="submit" name="" id="" value="Buscar Empleo">
                </div>

            </section>
        </form>

        <section class="recent-job">
            <h2 class="recent-job-title">29 Ofertas Encontradas:</h2>
            <div class="container">
                <div class="job-list">
                    <div class="job">
                        <div class="job-header">
                            <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                            <div>
                                <br>
                                <h2>Programador Web Experto en Angular</h2>
                                <br> <br>
                                <img src="img/place.svg" alt="" width="18px">
                                <p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                <img src="img/dollar.svg" alt="" width="18px">
                                <p>60,000</p>
                            </div>
                        </div>

                        <div class="job-body">
                            <p>Lorem ipsasasadasadasasdsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laboruasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssaadssssssssssssssm,
                                amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                        </div>

                        <a href="" class="job-end">Aplicar</a>

                    </div>
                </div>

                <!-- Borrar -->
                <div class="job-list">
                    <div class="job">
                        <div class="job-header">
                            <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="" width="90px">

                            <div>
                                <br>
                                <h2>Programador Web Experto en Angular</h2>
                                <br> <br>
                                <img src="img/place.svg" alt="" width="18px">
                                <p>&nbsp;Santo Domingo&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                <img src="img/dollar.svg" alt="" width="18px">
                                <p>60,000</p>
                            </div>
                        </div>

                        <div class="job-body">
                            <p>Lorem ipsasasadasadasasdsum dolor sit, amet consectetur adipisicing elit. Ad rem ab exercitationem? Maxime molestias dicta accusantium libero inventore ab fugfffffffffffffffffffa quasi, laboruasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssaadssssssssssssssm,
                                amet harum voluptatum fugiat ducimus nihil aperiam corporis!</p>
                        </div>

                        <a href="" class="job-end">Leer mas</a>

                    </div>
                </div>
                <!-- Hasta ca -->
            </div>
    </main>